<!DOCTYPE html>
<html xmlns="http://ww.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Stud Farm Application</title>
</head>

<body>
	<div align="center">
		<!-- Page header -->
		<h1>Stud Farm's data</h1>
		
		<!-- Entry to a new page (Employees)-->
		<a href="/employees"><button>Employees</button></a>
		<br><br>
		
		<!-- Entry to a new page (Horses)-->
		<a href="/horses"><button>Horses</button></a>
		<br><br>
		
		<!-- Entry to a new page (Sales Offers)-->
		<a href="/sales_offers"><button>Sales Offers</button></a>
		<br><br>
		<br><br>
		
		<!-- Go back to logging page -->
		<a href="/"><button>Log out</button></a>

	</div>
</body>
</html>